.top {
    width: 100%;
    height: 3.125rem;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    z-index: 50;
}

.topLeft {
    flex: 2
}

.topRight {
    flex: 2;
    display: flex;
    justify-items: center;
}

.topLeft {
    display: flex;
    justify-content: flex-end;
}


.topIcon {
    font-size: 1.25rem;
    margin-right: .625rem;
    color: #444;
    cursor: pointer;


}

.topCenter {
    flex: 5
}

.topImg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.topList {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #bdbdbd;
    align-items: center;
}

.topListItem {
    margin-right: 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    color: #3e3e3e;
}

.topListItem:hover {
    color: rgb(25, 123, 30);
}

.topSearchIcon {
    font-size: 1.125rem;
    color: #666;
    cursor: pointer;
    margin-right: 1.25rem;
    display: flex;
    align-items: center;
}