.write {}

.writeImg {
    padding-bottom: 1.875rem;
    width: 100%;
    height: 18.75rem;

    object-fit: cover;
}

.writeForm {
    position: relative;
    padding: 2% 10% 10% 10%;

}

.writeFormGroup {
    margin-left: 1.25rem;
    align-items: center;
}

.writeIconGroup {
    display: flex;
}

.writeIcon {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: .0625rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
}

.writeUploadIcon {
    display: flex;
}

.writeTextIcon {
    color: #666;
    font-size: 1rem;
    padding-left: .625rem;
    padding-top: .5rem;
    padding-bottom: 1.25rem;
    cursor: pointer;
}

.writeInput.writeTitleSize {
    padding-top: 1.875rem;
    font-size: 3.125rem;
    max-width: 100%;
    overflow-wrap: break-word;
    height: auto;
    padding-bottom: 1rem;
}

#root>div.write>form>div:nth-child(1)>div {
    text-align: center;

    background-color: rgb(11, 181, 124);
    font-size: 1.25rem;
    border-radius: 0.1rem;
    padding-left: 1rem;
}

.writeInput {
    font-size: 1.25rem;
    padding: 1.25rem;
    border: none;
    width: 70vw;
    font-size: 1.2rem;
    height: 6.5rem;
}

.writeInput:last-child {
    font-size: 1.25rem;
    padding: 1.25rem;
    border: none;
    width: 70vw;
    font-size: 3rem;
    height: 5rem;
}

.writeInput:focus {
    outline: none;
}

.writeSubmit {
    float: right;
    padding: .625rem;
    top: 15.625rem;
    margin-top: 0.875rem;
    margin-bottom: 7rem;
    right: 12.5rem;
    border: none;
    background-color: rgb(48, 97, 99);
    color: white;
    border-radius: .625rem;
}

.writeSubmit:hover {
    background-color: #3e3e3e;
    cursor: pointer;
}