.singlePost {
    flex: 9
}

.singlePostWrapper {
    padding: 0rem 7.5rem 10rem 7.5rem;

}

.singlePostImg {
    margin-top: 1.25rem;
    width: 100%;
    height: 15rem;
    border-radius: 1.3125rem;
    object-fit: cover;
    object-position: center center;
}

.singlePostTitle {
    padding-top: 1.875rem;
    font-size: 3.125rem;
    max-width: 100%;
    overflow-wrap: break-word;
    height: auto;
    padding-bottom: 1rem;
}

.singlePostEdit {
    position: absolute;
    align-items: center;
    width: 40px;
    right: 3rem;
    font-size: 1.25rem;
    float: right;


}

.singlePostIcon {
    float: right;
    align-items: center;
    display: flex;
    padding: .575rem;


}

.singlePostIcon:hover {
    color: rgb(108, 108, 108);
    cursor: pointer;
}



.singlePostInfo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: rgb(108, 108, 108);
}

.singlePostDesc {
    color: #3e3e3e;
    line-height: 1.5625rem;
}